# Jackson for all of the back-end.
*.java a1686411@student.adelaide.edu.au

# Rhett for back-end testing and data structures
/back-end/src/main/java/Column.java a1706579
/back-end/src/main/java/DataLineage.java a1706579
/back-end/src/main/java/LineageNode.java a1706579
/back-end/src/test/java/TestRunner.java a1706579

# Gabriel and Colin for front-end.
/front-end/ a1704822 a1673698
